body {
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: rgb(109, 173, 209);
  z-index: 40;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #1c1f1c93;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

table {
  margin: 40px;
  border-top: 8px outset gray;
  padding-bottom: 400px;
}
tr {
  padding: 20px;
}
td {
  font-size: 16px;
  height: fit-content;
  text-align: justify;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 40;
}

/* Style the header */
.header-foot {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content-foot {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky-foot {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement 
(as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky-foot + .content-foot {
  padding-bottom: 51px;
}

/*for Delete Moda*/

/* Set a style for all buttons */
.mdbutton {
  background-color: #4caf50;
  color: rgb(10, 10, 10);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  opacity: 0.9;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
}

.mdbutton:hover {
  opacity: 1;
  color: #fefefe;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: rgba(126, 115, 115, 0.945);
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: rgb(109, 173, 209);
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  /*width: 100%; /* Full width */
  /*height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #00000042;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(7, 17, 49, 0.849);
  color: aliceblue;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: rgb(109, 173, 209);
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

.mdcontain {
  padding: 0px 20px;
}

/*Styles for update modal*/
/* Set a style for all buttons */
.mdbutton {
  background-color: #4caf50;
  color: rgb(10, 10, 10);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  opacity: 0.9;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
}

.mdbutton:hover {
  opacity: 1;
  color: #fefefe;
}

/* Float cancel and delete buttons and add an equal width */
.updcancelbtn,
.updatebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.updcancelbtn {
  background-color: rgba(126, 115, 115, 0.945);
  color: black;
}

/* Add a color to the delete button */
.updatebtn {
  background-color: rgb(67, 202, 101);
}
